<div class="container">
    <h1>STORES</h1>
    <form action="/video" method="POST" autocomplete="off">
        {{#each storeData as |store|}}
            <div class="row">
                <div class="col-sm-1">
                    <div class="form-group">
                        <label>Store Id</label>
                        <input type="text" class="form-control" name="storeId" value="{{store.store_id}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{#with store.Address as |address|}}
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" name="storeId" value="{{address.address}}">
                        </div>

                    {{/with}}
                </div>
            </div>

        {{/each}}
        <div class="form-group">
            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        </div>

    </form>
</div>